**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/

EchoBook/Uploads/*
!EchoBook/Uploads/.gitkeep
EchoBook/AudioCache/*
!EchoBook/AudioCache/.gitkeep

**/appsettings.Development.json
**/*.user

.git/
.gitignore
README.md
Scripts/
docker-compose.yml
docker-compose.*.yml
render.yaml
